# ignore ALL .txt files
*.txt

# But not this one..
!requirements.txt

# ignore ALL .env files
*.env

# ignore ALL .json files
#*.json

# ignore ALL .bsp files
*.bsp
*.db
*.png
*.jpg
*.key

*.identifier

*.Identifier

663e9bbdf713ac9bd97a9cc3342ee117c508df6d42883651f3886c375a31f530-2025-08-25-21-59-28-9ca31b44e76f49c98f3500b247b62e0a/
pythonessv2/

memory/

dream_archive/

dreaming/

python_venv/

sigils/

venv/

TGITM/

# ignore ALL files in ANY directory named backup
backup/

# ignore ALL files in ANY directory named output
output/

# ignore ALL files in ANY directory named article
article/

naut/

# ignore ALL files in ANY directory named art
art/

# ignore ALL files in ANY directory named dist
dist/

dialogues/

stories/

tts_out/

cache/

__pycache__/

*.tmp

tmp/

dreams/

manuscripts/

Backup/

Avas/

data/

story_data/

venv/

rejects/

Script/

route/

logs/

tmpdb/

*.example
*.snapshot

*.jsonl

*.db
*.ini
*.log

posted_images.json

progress.json
history.json

dreams.json

inputs.json

backup.json

da_token.json

cleaned_tarot_data.json

delta.json

ava.json
alignments.json

*_calib.json

*_piece.json

# MoonTime staging (ignored during extraction)
#moontime/
#aetherfield_pkg/
/nyxfall
/pytho
/Pythoness
/witchmithras